body {
	font-family: Arial, sans-serif;
	background-color: #dadada;
	margin: 0;
	padding: 20px;
}

.container {
	display: flex;
}

.shopping-list {
	background-color: white;
	padding: 15px;
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	flex-grow: 1;
	margin-right: 20px;
	border: 1px solid #ccc;
}

.input-container {
	height: max-content;
	display: flex;
	align-items: center;
	max-width: 100%;
}

#product-name {
	flex-grow: 1;
	padding: 8px;
	margin-right: 0px;
	border: 1px solid #ccc;
	border-radius: 4px 0px 0px 4px;
	border-right: none;
}

#add-button {
	font-weight: bold;
	display: inline-block;
	padding: 8.79999999px;
	width: 100px;
	background-color: #2285d0;
	color: white;
	border: none;
	border-radius: 0px 3px 3px 0px;
	cursor: pointer;
	box-shadow: inset 0em -5px #2276b7;
}



hr {
	margin-left: -15px;
	margin-right: -15px;
	margin-top: 17px;
	overflow: visible;
	border: 0.5px solid #d4d4d4;
}

#product-list {
	list-style-type: none;
	padding-left: 0px;
	margin-bottom: 0px;
}

.item-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.product-noun {
	max-width: 164.267px;
	width: 164.267px;
}

.plus-button,
.minus-button {
	cursor: pointer;
}

.minus-button {
	margin-left: auto;
	margin-right: 0px;
	background-color: #db2828;
	border: none;
	border-radius: 50%;
	color: white;
	height: 25px;
	width: 25px;
	box-shadow: inset 0em -2.5px #bf2628;
	font-family: Calibri;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 5px;
}

.minus-button:hover {
	background-color: #ff0000;
}

[data-faded="faded"] {
	background-color: #ef9e9e;
	box-shadow: none;
	pointer-events: none;
}

.plus-button {
	margin-right: auto;
	margin-left: 0px;
	background-color: #22ba46;
	border: none;
	border-radius: 50%;
	color: white;
	height: 25px;
	width: 25px;
	box-shadow: inset 0em -2.5px #21a340;
	font-family: Arial;
	font-size: 11.5px;
	font-weight: bold;
	padding-bottom: 3px;
}


.plus-button:hover {
	background-color: #00ff00;
}

.quantity {
	width: 20px;
	height: 20px;

	font-size: 12px;
	font-weight: bold;
	font-family: Calibri;

	display: inline-flex;
	align-items: center;
	justify-content: center;

	color: #626262;
	border: solid #e8e8e8;
	border-radius: 4.5px;
	background-color: #e8e8e8;

	margin-left: 5px;
	margin-right: 5px;
}

.status-button {
	background-image: linear-gradient(#f7f7f7, #ececec);

	font-family: Calibri;
	font-weight: bold;
	color: #646464;
	padding: 21px;
	padding-top: 8px;
	padding-bottom: 9px;
	
	border: 0.5px solid #d4d4d4;
	border-radius: 4px;
	box-shadow: inset 0em -2.5px #c6c6c7;
}

.delete-button {
	margin-left: 5px;
	background-color: #db2828;
	border: none;
	border-radius: 6px;
	color: white;
	height: 34.2px;
	width: 34.2px;
	box-shadow: inset 0em -2.5px #bf2628;
	font-family: Calibri;
	font-size: 17px;
	font-weight: bold;
	padding-bottom: 5px;
}